/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color:#F3F1FF; 

}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 33px 42px 30px;
    margin-top: 21px;
    border-radius: 5px;
    
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* top players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;



}

.players{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-row-gap: 29px;
}
.player img{
    width: 56px;
    height: 56px;
    

}
.player{
    display: flex;
    align-items: center;
    
    
    
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* ----------top-blogs styles------------ */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:26px;
}
.blog{
    display: flex;
    
}

.blog .thumbnil img{
    width: 177px;
    height: 117px;
    margin-right: 16px; 
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
    
}
/* latest courses */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    
    
}
.course{
    drop-shadow:(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    width:252.42px;
    height:269.79px;
}

    
.course .course-banner img{
        width: 224px;
        height: 104px;

}
.course-title{
    font-family: Roboto;
    font-size: 20px;
   
    font-weight: 700;
    
    text-align: left;

}
.course-author{
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #ED6B4F    
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
 .filled{
    color:#FFC014 ;

}
.unfilled{
    color:#AEAEAE;
}
.course-duration {
color:#FF4A60 ;
background: #FEE5DF;
border-radius: 14.6913px;

}
@media only screen and   (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        
        grid-template-columns: repeat(1, 1fr);
        
        

        }
        .player, .blog, .course{
            flex-direction: column;
            justify-content: center;
    
    
}
@media only screen and (max-width:768px) {
    .players, .blogs{
        grid-template-columns: repeat(2, 1fr);
        
   }
   .courses{
    grid-template-columns: repeat(1,1fr);
   }

}

    
    
        

